

/* 導覽列 */

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

.main-header {
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    height: 100px;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-header h1 {
    line-height: 20px;
    margin: 0 10px;
}

.main-menu {
    display: flex;
}

.main-menu li {
    position: relative;
    transition: .5s;
}

.main-menu li a {
    padding: 0 15px;
    line-height: 60px;
}

.main-menu li::after {
    content: '';
    position: absolute;
    height: 4px;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-color: #fff;
    border-radius: 10px;
    transition: .5s;
}

.main-menu li:hover {
    background-color: black;
    border-radius: 10px;
}

.main-menu li:hover::after {
    left: 0;
    right: 0;
}

/* 頁尾 */
footer {
    width: 100%;
    height: 300px;
    background-color: rgb(157, 59, 59);
    margin-top: 120px;
    display: flex;
    position: relative;
    border-radius: 10px;
}

.FtLogo {
    flex: 3;
    background-image: url(../imge/gpsicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: burlywood;
    margin: 10px 10px;
    padding: 10px;

}

.FtSocial {
    flex: 9;
    background-color: bisque;
    height: 200px;
    margin: 45px;
    text-align: center;
}

/* 側邊固定欄 */
aside {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-image: url(../imge/gpsicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
    /* 頭像區 */
    .avatar {
        width: 820px;
        height: 300px;
        margin-top: 50px;
        padding-top: 20px;
        padding-left: 600px;
        font-size: 30px;
        border-radius: 10px;
        background-color: aquamarine;
        letter-spacing: 10px;
    }

    .imgg {
        border-radius: 100px;
    }
    /* 顯示區 */
    

    #tab {
        width: 800px;
        height: 400px;
        background: #95a29b;
        border: solid 1px #0c0c0c;
        border-radius: 10px;
        margin-top: 150px;
        margin-left: 300px;
    }
    
    /* 頁籤ul */
    #tab>ul {
        /* overflow: hidden; */
        margin: 0;
        padding: 10px 20px 0 20px;
    }
    
    #tab>ul>li {
        list-style-type: none;
    }
    
    /* 頁籤上的文字 */
    #tab>ul>li>a {
        text-decoration: none;
        font-size: 18px;
        color: #333;
        float: left;
        padding: 10px;
        margin-left: 5px;
        letter-spacing: 3px;
    }
    
    /*頁籤div內容*/
    #tab>div {
        clear: both;
        padding: 0 15px;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    
    /*第一筆的底色*/
    span:target~#tab>ul li:first-child a {
        background: #95a29b;
    }
    
    span:target~#tab>div:first-of-type {
        visibility: hidden;
        height: 0;
        padding: 0 15px;
    }
    
    /*頁籤變換&第一筆*/
    span~#tab>ul li:first-child a,
    #tab-1:target~#tab>ul li a[href$="#tab-1"],
    #tab-2:target~#tab>ul li a[href$="#tab-2"] {
        background: #fff;
        border-radius: 5px 5px 0 0;
    }
    
    span~#tab>ul li:first-child a::before,
    #tab-1:target~#tab>ul li a[href$="#tab-1"]::before,
    #tab-2:target~#tab>ul li a[href$="#tab-2"]::before {
        background-color: white;
        height: 100%;
    }
    
    /*頁籤內容顯示&第一筆*/
    span~#tab>div:first-of-type,
    #tab-1:target~#tab>div.tab-content-1,
    #tab-2:target~#tab>div.tab-content-2 {
        visibility: visible;
        height: 340px;
        width: 740px;
        background: #fff;
        overflow: hidden;
        position: relative;
        left: 15px;
        border-radius: 5px 10px 10px 10px;
    }
    
    span {
        display: none;
    }
    .menu {
        background-color: aqua; 
    }

    input {
        font-size: 30px;
    }

    .c-number {
        margin-top: 30px;
        margin-left: 80px;
        font-size: 25px;
        letter-spacing: 10px;
    }

    .decrease {
        margin-top: 30px;
    }


    .girlinput {
        font-size: 25px;
        padding-left: 150px;
        padding-top: 25px;
        letter-spacing: 10px;
    }

    .girlinput-son {
        margin-top: 8px;
    }